<div align="center">
  <br><br><br>
  To navigate departments click here<a routerLink="/departments" routerLinkActive="active"><strong>DEPARTMENTS</strong></a>
  <br><br>
  To navigate login page  click here<a routerLink="/login" routerLinkActive="active"><strong>LOGIN</strong></a>
  <br><br>
  To navigate about page  click here<a routerLink="/about" routerLinkActive="active"><strong>ABOUT</strong></a>
  <br><br><br>
</div>
<font color="red">Note:</font>You can visit  'attendance' page even if you click login button in 'login' page
