<div align="center">
    <div class="row">
        <form action="/bookingTicket1" method="get">
        <div class="column1">
            <div>
                <br><br><label><font color="orange">(*)Enter MovieName:</font></label><br><br>
                <input type="text" id="input" name="mName"><br><br>
            </div>
        </div>
        <div class="column1">
                <div>
                    <br><br><label><font color="white">(*)Enter Theatre name:</font></label><br><br>
                    <input type="text" id="input" name="tName"><br><br>
                </div>
        </div>
        <div class="column1">
                <div>
                    <br><br><label><font color="green">(*)Enter pincode:</font></label><br><br>
                    <input type="number" id="input" name="pCode"><br><br>
                </div>
        </div>
        <div class="column1">
            <div>
                <br><br><label><font color="orange">(*)Enter NumberTickets:</font></label><br><br>
                <input type="number" id="input" name="tNumber"><br><br>
            </div>
        </div>
            <button type="submit" class="button blue">Book</button>
        </form>
    </div>
</div>