<pre><font color="yellow">THANK YOU: for booking movie tickets!!!
    </font>
    <font color="red">Do you want to book a movie again:</font><a href="/bookingTicket">clickhere</a></pre>
    <a href="/">goto home</a><br><br>