<div align="center">
    <br><br><br><font color="red" size="7">Warning:</font><font color="green" size="6">Number of tickets exceeded(>6)</font><br><br><br>
    <pre><font color="yellow">Goto booking page:
        Inorder to book a movie tickets :
    you need to enter movieNAME,theatreNAME and PINCODE</font>
    <font color="red">Do you want to book a movie:</font><a href="/bookingTicket">clickhere</a></pre>
    <a href="/">goto home</a><br><br>
</div>