<div align="center">
  <h1>A 2 Z engineering college</h1>
  <a routerLink="/home" routerLinkActive="active"><strong>HOME</strong></a>
  <a routerLink="/departments" routerLinkActive="active"><strong>DEPARTMENTS</strong></a>
  <a routerLink="/login" routerLinkActive="active"><strong>LOGIN</strong></a>
  <a routerLink="/attendance" routerLinkActive="active"><strong>ATTENDANCE</strong></a>
  <a routerLink="/about" routerLinkActive="active"><strong>ABOUT</strong></a>
</div>

<router-outlet></router-outlet>
