<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <font size="8" color="yellow"> {{ title }}!</font>
</div>
<div align="center"> 
    <a routerLink="/insertStudent" routerLinkActive="active" class="button button1"><strong>InsertStudents</strong></a>
    <a routerLink="/students" routerLinkActive="active" class="button button3"><strong>Students</strong></a>
    <a routerLink="/faculty" routerLinkActive="active" class="button button4"><strong>Faculty</strong></a>
    <a routerLink="/about" routerLinkActive="active" class="button button2"><strong>about</strong></a>
</div>
<router-outlet></router-outlet>

