<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <hr>
    <hr>
    <div align="center"><font color="red" size="14">Book A Movie</font></div>
    <hr><hr>
    {{{ body }}}
</body>
</html>