<div align="center" class="container">
    <h3>Displaying department details:</h3>
    <br>
    <table class="table">
      <tr>
        <td>Computer science and Engineering</td>
      </tr>
      <tr>
        <td>ECE (Electronics and Communication Engineering)</td>
      </tr>
      <tr>
        <td>EEE (Electronics and Electrical Engineering)</td>
      </tr>
      <tr>
        <td>Mechanial Engineering</td>
      </tr>
      <tr><td>Civil Engineering</td></tr>
    </table>
    <br><br><br>
    To navigate home page click here<a routerLink="/home" routerLinkActive="active"><strong>HOME</strong></a>
    
  </div>
